@model URLShortenerApp.Models.Url

<div class="main">
    <h4>Short URL for @ViewBag.LongUrl is:</h4>

    @Html.ActionLink((string)ViewBag.ShortUrl, "LongUrlFinder", "Home", new { shortUrl = (string)ViewBag.ShortUrl }, null)
</div>
