<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://urlshortenerapp.tk</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>urlshortenerapp.tk</MSDeployServiceURL>
    <DeployIisAppPath>urlshortenerapp.tk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>urlshort</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UrlDBContext" Order="1" Enabled="True">
          <Destination Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|UrlDb.mdf;Initial Catalog=UrlDb;Integrated Security=True;User Instance=True" Name="Data Source=.\SQLEXPRESS;Initial Catalog=UrlDb;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|UrlDb.mdf;User Instance=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="URLShortenerApp.DataContexts.UrlsDb, URLShortenerApp" MigrationConfiguration="URLShortenerApp.Migrations.Configuration, URLShortenerApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UrlDBContext-Web.config Connection String">
      <ParameterValue>Data Source=.\SQLEXPRESS;Initial Catalog=UrlDb;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|UrlDb.mdf;User Instance=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>